.main-head {
  position: sticky;
  top: 111px;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid var(--border);
  height: 45px;
  padding: 0px 50px;
  background-color: var(--bg);
  z-index: 99;
  .freelancer-tab,
  .team-tab,
  .job-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0 25px;
    color: var(--secondary-text);
    border-bottom: 2px solid transparent;
    height: 100%;
    font-size: 14px;
    margin-bottom: -1px;
    cursor: pointer;
  }
  .active {
    border-color: var(--accent-blue);
    color: var(--accent-blue);
  }
}