.empty-user-result {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  i {
    font-size: 50px;
    color: var(--mutetd-tetx);
    margin-bottom: 8px;
  }
  .hd-txt {
    font-size: 30px;
    font-weight: bold;
    color: var(--secondary-text);
  }
  .txt {
    font-size: 17px;
    color: var(--mutetd-tetx);
  }
  button {
    margin-top: 10px;
    padding: 12px 0;
    width: 370px;
    background-color: var(--blue-bg);
    border: 1px solid var(--blue-border);
    color: var(--accent-blue);
    font-size: 16px;
    border-radius: 9px;
    cursor: pointer;
  }
}
.user-profile-bottom {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  .button-options {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 40px;
    height: 35px;
    font-size: 14px;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    color: var(--mutetd-tetx);
    background-color: var(--sidebar-bg);
    position: sticky;
    top: 0;
    z-index: 20;
    div {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      cursor: pointer;
      border-bottom: 1px solid transparent;
    }
    .current-click {
      color: var(--accent-blue);
      border-color: var(--accent-blue);
    }
  }
}

@media (max-width: 767.99px) {
  .empty-user-result {
    height: calc(100dvh - 127px);
    i {
      font-size: 30px;
    }
    .hd-txt {
      font-size: 20px;
    }
    .txt {
      font-size: 14px;
    }
    button {
      margin-top: 7px;
      padding: 11px 0;
      width: 290px;
      font-size: 14px;
    }
  }
  .user-profile-page-container {
    height: calc(100dvh - 127px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 0;
    padding: 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .user-profile-bottom {
    .button-options {
      padding: 10px;
      height: unset;
      font-size: 14px;
      border-top: 1px solid transparent;
      box-shadow: 0 -1px 0 var(--border);
      border-bottom: 1px solid var(--border);
      color: var(--secondary-text);
      background-color: var(--bg);
      top: 0px;
      gap: 10px;
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      div {
        height: unset;
        padding: 10px 20px;
        border: 1px solid var(--border);
        border-radius: 20px;
        cursor: pointer;
      }
      .current-click {
        border-color: var(--blue-border);
        background-color: var(--blue-bg);
        color: var(--accent-blue);
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023.99px) {
  
}

@media (min-width: 1024px) {

}