.settings-page-main {
  display: flex;
  justify-content: left;
}
.settings-sidebar-content {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 35px 50px;
  overflow: auto;
  height: calc(100vh - 70px);
}
.delete-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .delete-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .top-part {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 2px;
      .head-txt {
        font-size: 20px;
        font-weight: bold;
        color: red;
      }
      .txt {
        font-size: 14px;
        word-spacing: 3px;
        color: red;
      }
    }
    .content {
      padding: 20px;
      background-color: rgb(29, 2, 2);
      border: 1px solid var(--coral-border);
      border-radius: 20px;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: start;
      .head-txt {
        font-size: 18px;
        font-weight: bold;
        color: red;
      }
      .txt {
        margin-top: -15px;
        font-size: 13px;
        letter-spacing: 1.3px;
        color: red;
        word-spacing: 1.3px;
        line-height: 20.3px;
      }
      .hd-txt {
        font-size: 12px;
        text-transform: uppercase;
        color: red;
        letter-spacing: 1.3px;
      }
      input {
        height: 40px;
        padding: 4px 15px;
        background-color: var(--cards);
        border: 1px solid var(--coral-border);
        outline: none;
        width: 500px;
        border-radius: 10px;
        color: red;
        font-size: 16px;
        &::placeholder {
          color: var(--mutetd-tetx);
        }
      }
      button {
        padding: 13px 25px;
        background-color: transparent;
        color: red;
        border: 1px solid var(--coral-border);
        border-radius: 8px;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
}