.home-header {
  color: var(--pry-text);
  height: 60px;
  margin-left: 250px;
  position: sticky;
  top: 0;
  background-color: var(--sidebar-bg);
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 30px;
  z-index: 100;
  .left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    input {
      flex: 1;
      width: 0;
      max-width: 1000px;
      border: 1px solid var(--hover-border);
      background-color: transparent;
      height: 32px;
      padding: 4px 15px;
      outline: none;
      border-radius: 8px;
      color: var(--secondary-text);
      font-size: 14px;
      &::placeholder{
        color: var(--secondary-text);
      }
      &:focus {
        border: 1px solid var(--mutetd-tetx);
      }
    }
    .search-btn {
      border: none;
      background-color: var(--pry-btn);
      color: var(--pry-btn-text);
      padding: 11px 22px;
      border-radius: 8px;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .phone-size {
    display: none;
    justify-content: left;
    align-items: center;
    flex: 1;
    padding: 0 15px;
    .name {
      flex: 1;
      font-size: 24px;
      font-weight: bold;
      color: var(--pry-text);
      span {
        color: var(--accent-blue);
      }
    }
    .right-side {
      display: flex;
      justify-content: right;
      align-items: center;
      gap: 6px;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        i {
          height: 36px;
          width: 36px;
          border-radius: 50%;
          font-size: 15px;
          color: var(--secondary-text);
          border: 1px solid var(--border);
          background-color: var(--cards);
          display: flex;
          justify-content: center;
          align-items: center;
        }
        img {
          height: 33px;
          width: 33px;
          border-radius: 50%;
          object-fit: cover;
          border: 1px solid var(--blue-border);
          padding: 2px;
        }
        &.hanburger {
          i {
            height: 35px;
            width: 35px;
            border-radius: 0;
            border: none;
            background-color: transparent;
            font-size: 24px;
          }
        }
        .notification {
          width: 7px;
          height: 7px;
          background-color: red;
          border-radius: 50%;
          position: absolute;
          top: 8px;
          right: 5px;
        }
        .message {
          font-size: 10px;
          padding: 1px 5px;
          background-color: var(--pry-btn);
          color: var(--pry-btn-text);
          position: absolute;
          border-radius: 20px;
          top: 3px;
          right: 2px;
          border: 2px solid var(--cards);
        }
      }
    }
  }
}

@media (max-width: 767.99px) {
  .home-header {
    margin-left: 0px;
    .left {
      display: none;
    }
    .phone-size {
      display: flex;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023.99px) {
  
}

@media (min-width: 1024px) {

}