.settings-page-main {
  display: flex;
  justify-content: left;
}
.settings-sidebar-content {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 35px 50px;
  overflow: auto;
  height: calc(100vh - 70px);
}
.password-tab-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .password-tab-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .top-part {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 2px;
      .head-txt {
        font-size: 20px;
        font-weight: bold;
        color: var(--pry-text);
      }
      .txt {
        font-size: 14px;
        color: var(--mutetd-tetx);
        word-spacing: 3px;
      }
    }
    .content {
      padding: 20px;
      background-color: var(--cards);
      border: 1px solid var(--border);
      border-radius: 20px;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .up {
        display: flex;
        flex-direction: column;
        gap: 15px;
        div {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          gap: 5px;
          .head-txt {
            font-size: 12px;
            color: var(--mutetd-tetx);
            text-transform: uppercase;
          }
          input {
            height: 38px;
            padding: 4px 15px;
            border: 1px solid var(--hover-border);
            border-radius: 10px;
            background-color: var(--border);
            font-size: 16px;
            outline: none;
            color: var(--pry-text);
            &::placeholder {
              color: var(--mutetd-tetx);
            }
          }
        }
      }
      .action-btn {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 15px;
        button {
          padding: 11px 28px;
          border-radius: 10px;
          border: 1px solid transparent;
          cursor: pointer;
          font-weight: bold;
          font-size: 15px;
          &.save-btn {
            background-color: var(--pry-btn);
            color: var(--pry-btn-text);
          }
          &.cancle-btn {
            background-color: var(--ghost-btn-bg);
            border-color: var(--ghost-btn-border);
            color: var(--ghost-btn-text);
          }
        }
      }
    }
  }
}