.invite-members-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  .top {
    display: flex;
    flex-direction: column;
    gap: 2px;
    .hd-txt {
      font-size: 25px;
      font-weight: bold;
      color: var(--pry-text);
    }
    .txt {
      font-size: 15px;
      color: var(--mutetd-tetx);
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .link-invite,
    .email-invite {
      padding: 20px 25px;
      background-color: var(--cards);
      border: 1px solid var(--border);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      .up {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 0 0 15px 0;
        font-weight: bold;
        border-bottom: 1px solid var(--border);
        .left {
          flex: 1;
          font-size: 12px;
          display: flex;
          flex-direction: column;
          color: var(--mutetd-tetx);
          .hd-txt {
            color: var(--pry-text);
            font-size: 18px;
          }
          div {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 8px;
            span {
              width: 2px;
              height: 2px;
              border-radius: 50%;
              background-color: var(--mutetd-tetx);
            }
          }
        }
        .right {
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            padding: 10px 15px;
            background-color: var(--pry-btn);
            color: var(--pry-btn-text);
            border: none;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            border-radius: 8px;
            cursor: pointer;
            i {
              font-size: 10px;
            }
          }
        }
      }
      .down {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &.link {
          .link-invite-cover {
            display: flex;
            justify-content: left;
            align-items: center;
            padding: 12px 20px;
            background-color: var(--border);
            border: 1px solid var(--hover-border);
            border-radius: 10px;
            p {
              font-size: 18px;
              color: var(--secondary-text);
            }
            button {
              margin-left: auto;
              padding: 10px 25px;
              background-color: var(--blue-bg);
              border: 1px solid var(--blue-border);
              color: var(--accent-blue);
              font-size: 12px;
              border-radius: 8px;
              cursor: pointer;
            }
          }
          .txt {
            font-size: 15px;
            color: var(--mutetd-tetx);
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 10px;
            .dot {
              width: 2px;
              height: 2px;
              border-radius: 50%;
              background-color: var(--mutetd-tetx);
            }
            .count {
              margin-left: auto;
            }
          }
        }
        &.email {
          .email-invite-cover {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 20px;
            input {
              flex: 1;
              padding: 4px 15px;
              height: 35px;
              background-color: var(--border);
              border: 1px solid var(--hover-border);
              color: var(--secondary-text);
              outline: none;
              border-radius: 10px;
              font-size: 14px;
              &::placeholder {
                color: var(--mutetd-tetx);
              }
            }
            button {
              padding: 13px 25px;
              background-color: var(--pry-btn);
              color: var(--pry-btn-text);
              border: none;
              border-radius: 6px;
              cursor: pointer;
            }
          }
          .pending-invites {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 15px 20px;
            background-color: var(--border);
            border: 1px solid var(--hover-border);
            border-radius: 10px;
            padding-bottom: 0;
            .head-txt {
              text-transform: uppercase;
              color: var(--mutetd-tetx);
              font-size: 14px;
            }
            .pending-conainer {
              display: flex;
              flex-direction: column;
              .pending {
                display: flex;
                justify-content: left;
                align-items: center;
                padding: 15px 0;
                border-top: 1px solid var(--hover-border);
                &:nth-child(1) {
                  border: none;
                }
                .left {
                  flex: 1;
                  display: flex;
                  flex-direction: column;
                  .hd-txt {
                    font-size: 16px;
                    color: var(--secondary-text);
                    font-weight: bold;
                  }
                  .txt {
                    font-size: 13px;
                    color: var(--mutetd-tetx);
                  }
                }
                .right {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  button {
                    padding: 7px 15px;
                    background-color: transparent;
                    border: 1px solid var(--hover-border);
                    color: var(--mutetd-tetx);
                    font-size: 12px;
                    border-radius: 5px;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
        .txt {
          font-size: 15px;
          color: var(--mutetd-tetx);
        }
      }
    }
  }
}