.block-content {
  padding: 0;
  padding-top: 10px;
  background-color: var(--cards);
  border: 1px solid var(--border);
  border-radius: 20px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  .head {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 25px 15px 25px;
    border-bottom: 1px solid var(--border);
    p {
      font-size: 15px;
      color: var(--mutetd-tetx);
    }
    input {
      margin-left: auto;
      background-color: var(--border);
      border: 1px solid var(--hover-border);
      color: var(--secondary-text);
      outline: none;
      height: 30px;
      width: 270px;
      padding: 4px 15px;
      border-radius: 10px;
      &::placeholder {
        color: var(--mutetd-tetx);
      }
    }
  }
  .block-wrap {
    padding: 18px 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid var(--border);
    &:nth-child(4) {
      border-bottom: none;
    }
    .left {
      flex: 1;
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 15px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
      .details {
        display: flex;
        flex-direction: column;
        .head-txt {
          font-weight: bold;
          font-size: 16px;
          color: var(--secondary-text);
        }
        div {
          display: flex;
          justify-content: left;
          align-items: center;
          gap: 10px;
          color: var(--mutetd-tetx);
          font-size: 13px;
          span {
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background-color: var(--mutetd-tetx);
          }
        }
      }
    }
    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      button {
        padding: 8px 18px;
        background-color: transparent;
        border: 1px solid var(--border);
        color: var(--mutetd-tetx);
        border-radius: 8px;
        cursor: pointer;
        &:nth-child(1) {
          background-color: var(--border);
          border-color: var(--hover-border);
        }
      }
    }
  }
}

@media (max-width: 767.99px) {
  .block-content {
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    .head {
      padding: 15px;
      gap: 15px;
      p {
        font-size: 14px;
        color: var(--mutetd-tetx);
      }
      input {
        flex: 1;
        margin-left: unset;
        background-color: var(--cards);
        border: 1px solid var(--border);
        color: var(--pry-text);
        width: unset;
        padding: 4px 10px;
      }
    }
    .block-wrap {
      padding: 18px 15px;
      border: none;
      border-top: 1px solid var(--border);
      position: relative;
      &:nth-child(2) {
        border: none;
      }
      .left {
        .details {
          .head-txt {
            font-size: 14px;
          }
          div {
            gap: 8px;
            font-size: 12px;
            span {
              display: none;
            }
            .time {
              font-size: 11px;
              position: absolute;
              top: 5px;
              right: 15px;
            }
          }
        }
      }
      .right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: absolute;
        right: 15px;
        button {
          padding: 6px 15px;
          border: 1px solid var(--border);
          font-size: 12px;
          &:nth-child(1) {
            background-color: var(--cards);
            border-color: var(--border);
          }
        }
      }
    }
  }
}