.profile-visibility-content {
  padding: 10px 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .profile-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 25px 30px;
    background-color: var(--cards);
    border: 1px solid var(--border);
    border-radius: 20px;
    .hd-txt {
      padding: 0 0 15px 0;
      border-bottom: 1px solid var(--border);
      font-weight: bold;
      font-size: 16px;
      color: var(--pry-text);
    }
    .inner {
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 20px 0;
        gap: 15px;
        cursor: pointer;
        &:nth-child(1) {
          border-bottom: 1px solid var(--hover-border);
        }
        .left {
          display: flex;
          justify-content: center;
          align-items: center;
          input {
            appearance: none;
            width: 20px;
            height: 20px;
            background-color: var(--border);
            border: 1px solid var(--hover-border);
            outline: none;
            border-radius: 50%;
            cursor: pointer;
            &:checked {
              background-color: white;
              border: 5px solid var(--pry-btn);
            }
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          .head-txt {
            font-size: 16px;
            color: var(--pry-text);
            font-weight: bold;
          }
          .txt {
            font-size: 14px;
            color: var(--mutetd-tetx);
          }
        }
      }
    }
  }
  .action-btn {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    button {
      padding: 11px 28px;
      border-radius: 10px;
      border: 1px solid transparent;
      cursor: pointer;
      font-weight: bold;
      font-size: 15px;
      &.save-btn {
        background-color: var(--pry-btn);
        color: var(--pry-btn-text);
      }
      &.cancle-btn {
        background-color: var(--ghost-btn-bg);
        border-color: var(--ghost-btn-border);
        color: var(--ghost-btn-text);
      }
    }
  }
}

@media (max-width: 767.99px) {
  .profile-visibility-content {
    gap: 0px;
    padding: 0;
    .profile-box {
      padding: 0 15px;
      background-color: transparent;
      border: none;
      border-radius: 0;
      .hd-txt {
        padding: 15px 0;
      }
      .inner {
        div {
          padding: 15px 0;
          border-bottom: 1px solid var(--border);
          &:nth-child(1) {
            border-bottom: 1px solid var(--border);
          }
          .left {
            input {
              appearance: none;
              width: 20px;
              height: 20px;
              background-color: var(--cards);
              border: 1px solid var(--border);
            }
          }
          .right {
            .head-txt {
              font-size: 14px;
            }
            .txt {
              font-size: 12px;
            }
          }
        }
      }
    }
    .action-btn {
      margin-top: 20px;
      justify-content: right;
      gap: 10px;
      padding: 0 15px;
      button {
        padding: 11px 25px;
        border-radius: 8px;
        font-size: 14px;
      }
    }
  }
}