.marketplace-dialog {
  height: fit-content;
  width: 600px;
  border-radius: 30px;
  background-color: var(--cards);
  border: 1px solid var(--border);
  flex-direction: column;
  padding: 0;
  .top {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 1px solid var(--border);
    .left {
      flex: 1;
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 15px;
      i {
        height: 40px;
        width: 40px;
        background-color: var(--blue-bg);
        border: 1px solid var(--blue-border);
        color: var(--accent-blue);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
      }
      div {
        display: flex;
        flex-direction: column;
        gap: 1px;
        .hd-txt {
          font-size: 20px;
          color: var(--pry-text);
          font-weight: bold;
        }
        .txt {
          font-size: 15px;
          color: var(--mutetd-tetx);
          display: flex;
          justify-content: left;
          align-items: center;
          gap: 10px;
          span {
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background-color: var(--mutetd-tetx);
          }
        }
      }
    }
    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        height: 35px;
        width: 35px;
        background-color: var(--border);
        border: 1px solid var(--hover-border);
        color: var(--secondary-text);
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;
    .user-wrap {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 15px 30px;
      border-bottom: 1px solid var(--border);
      .txt {
        text-transform: uppercase;
        color: var(--mutetd-tetx);
        font-size: 13px;
        word-spacing: 0.4px;
      }
      .wrap {
        padding: 10px;
        border: 1px solid var(--blue-border);
        border-radius: 10px;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
        img {
          flex-shrink: 0;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        .info {
          display: flex;
          flex-direction: column;
          .name-wrap {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 6px;
            .name {
              font-size: 18px;
              font-weight: bold;
              color: var(--pry-text);
            }
            i {
              font-size: 14px;
              color: var(--accent-blue);
            }
          }
          .user-info {
            font-size: 14px;
            color: var(--mutetd-tetx);
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 10px;
            span {
              width: 2px;
              height: 2px;
              border-radius: 50%;
              background-color: var(--mutetd-tetx);
            }
          }
          .price-range {
            margin-top: 2px;
            font-size: 14px;
            color: var(--secondary-text);
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 10px;
            span {
              color: var(--green);
              font-weight: bold;
            }
            .dot {
              background-color: var(--secondary-text);
              width: 2px;
              height: 2px;
              border-radius: 50%;
            }
          }
        }
      }
    }
    .text-area {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 10px;
      padding: 15px 30px;
      border-bottom: 1px solid var(--border);
      .txt {
        text-transform: uppercase;
        color: var(--mutetd-tetx);
        font-size: 13px;
        word-spacing: 0.4px;
        span {
          text-transform: capitalize;
        }
        .needed {
          font-size: 16px;
          color: var(--accent-blue);
        }
      }
      textarea {
        height: 150px;
        background-color: var(--border);
        border: 1px solid var(--hover-border);
        color: var(--pry-text);
        resize: none;
        border-radius: 12px;
        padding: 13px 16px;
        font-size: 14px;
        line-height: 18px;
        &::placeholder {
          color: var(--secondary-text);
        }
        &:focus {
          outline: none;
        }
        &::-webkit-scrollbar {
          background-color: transparent;
        }
      } 
      .counts {
        font-size: 12px;
        color: var(--secondary-text);
        margin-left: auto;
        margin-top: -4px;
      }
      .project-wrap {
        display: flex;
        justify-content: left;
        align-items: center;
        height: 40px;
        border: 1px solid var(--hover-border);
        background-color: var(--border);
        padding: 4px 15px;
        border-radius: 10px;
        cursor: pointer;
        z-index: 10;
        .text {
          flex: 1;
          color: var(--secondary-text);
          font-size: 15px;
        }
        i {
          font-size: 12px;
          color: var(--secondary-text);
        }
      }
      .project-selector {
        transform: translateY(22%);
        opacity: 0;
        transition: transform 0.3s, opacity 0.3s;
        position: absolute;
        bottom: 70px;
        right: 30px;
        left: 30px;
        height: 360px;
        background-color: var(--border);
        border: 1px solid var(--hover-border);
        color: var(--secondary-text);
        flex-direction: column;
        gap: 5px;
        border-radius: 10px;
        padding: 20px;
        z-index: 9;
        &.open {
          transform: translateY(0);
          opacity: 1;
        }
        .empty {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
        }
        .projects {
          padding: 5px 0;
          height: 45px;
          display: flex;
          gap: 10px;
          cursor: pointer;
          .left {
            flex-shrink: 0;
            width: 50px;
            background-color: var(--blue-border);
            border-radius: 6px;
          }
          .right {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 2px;
            .title {
              flex-shrink: 0;
              font-size: 16px;
              font-weight: bold;
              color: var(--pry-text);
              max-width: 440px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            .description {
              margin-top: -3px;
              flex-shrink: 0;
              font-size: 12px;
              color: var(--mutetd-tetx);
              max-width: 440px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            .extra-info {
              margin-top: -2px;
              display: flex;
              justify-content: left;
              align-items: center;
              .details {
                flex: 1;
                display: flex;
                justify-content: left;
                align-items: center;
                gap: 10px;
                font-size: 12px;
                color: var(--secondary-text);
                span {
                  width: 2px;
                  height: 2px;
                  border-radius: 50%;
                  background-color: var(--secondary-text);
                }
              }
            }
          }
        }
      }
    }
    .actions {
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 15px;
      padding: 15px 30px;
      button {
        height: 40px;
        border: 1px solid;
        font-size: 14px;
        border-radius: 9px;
        font-weight: bold;
        cursor: pointer;
      }
      .cancel {
        width: 100px;
        background-color: transparent;
        border-color: var(--hover-border);
        color: var(--secondary-text);
      }
      .send {
        flex: 1;
        background-color: var(--pry-btn);
        border-color: var(--pry-btn);
        color: var(--pry-btn-text);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        i {
          transform: rotate(45deg);
          font-size: 12px;
        }
      }
    }
  }
}
.team-hire-dialog {
  .bottom {
    .user-wrap {
      .wrap {
        img {
          border-radius: 10px;
          padding: 2px;
          border: 1px solid var(--blue-border);
        }
      }
    }
  }
}
.job-apply-dialog {
  .bottom {
    .user-wrap {
      .wrap {
        img {
          padding: 2px;
          border: 1px solid var(--blue-border);
        }
        .info {
          .name-wrap {
            .name {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              max-width: 450px;
            }
          }
        }
      }
    }
  }
}
.marketplace-dialog[open] {
  display: flex;
}
.marketplace-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 767.99px) {
  .marketplace-dialog {
    all: unset;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: var(--cards);
    border: 1px solid var(--border);
    flex-direction: column;
    transform: translateY(100%);
    transition: transform 0.3s;
    .top {
      padding: 20px 15px;
      .left {
        gap: 10px;
        div {
          .hd-txt {
            font-size: 18px;
          }
          .txt {
            font-size: 14px;
          }
        }
      }
      .right {
        i {
          height: 32px;
          width: 32px;
          font-size: 10px;
          border-radius: 8px;
        }
      }
    }
    .bottom {
      flex: 1;
      .user-wrap {
        gap: 7px;
        padding: 15px 15px;
        .txt {
          font-size: 12px;
        }
        .wrap {
          padding: 10px;
          border-radius: 10px;
          gap: 8px;
          img {
            height: 45px;
            width: 45px;
          }
          .info {
            .name-wrap {
              .name {
                font-size: 16px;
              }
              i {
                font-size: 12px;
              }
            }
            .user-info {
              font-size: 12px;
              .username {
                white-space: nowrap;
                max-width: 100px;
                text-overflow: ellipsis;
                overflow: hidden;
              }
              .title {
                white-space: nowrap;
                max-width: 140px;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
            .price-range {
              font-size: 12px;
              gap: 8px;
              white-space: nowrap;
            }
          }
        }
      }
      .text-area {
        flex: 1;
        gap: 7px;
        padding: 15px 15px;
        .txt {
          font-size: 12px;
          .needed {
            font-size: 14px;
          }
        }
        .project-txt {
          margin-top: auto;
        }
        .project-wrap {
          height: 32px;
          padding: 4px 12px;
          border-radius: 8px;
          .text {
            font-size: 13px;
          }
          i {
            font-size: 10px;
          }
        }
        .project-selector {
          bottom: 62px;
          right: 12px;
          left: 12px;
          height: 370px;
          padding: 15px;
          z-index: 9;
          .projects {
            gap: 8px;
            .left {
              width: 45px;
            }
            .right {
              .title {
                font-size: 16px;
                max-width: 250px;
              }
              .description {
                max-width: 250px;
              }
            }
          }
        }
      }
      .actions {
        padding: 15px 15px;
        button {
          font-size: 13px;
          border-radius: 8px;
        }
        .send {
          i {
            font-size: 10px;
          }
        }
      }
    }
  }
  .job-apply-dialog {
    .bottom {
      .user-wrap {
        .wrap {
          .info {
            .name-wrap {
              .name {
                max-width: 250px;
              }
            }
          }
        }
      }
    }
  }
  .marketplace-dialog[open] {
    display: flex;
    transform: translateY(0);
  }
  .marketplace-dialog::backdrop {
    display: none;
  }
}