.subsciption-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .top-part {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2px;
    .head-txt {
      font-size: 20px;
      font-weight: bold;
      color: var(--pry-text);
    }
    .txt {
      font-size: 14px;
      color: var(--mutetd-tetx);
      word-spacing: 3px;
    }
  }
  .content {
    padding: 20px;
    background-color: var(--cards);
    border: 1px solid var(--border);
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &.free-plan {
      .up {
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: var(--border);
        border: 1px solid var(--hover-border);
        padding: 15px 20px;
        border-radius: 10px;
        .left {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 5px;
          .plan-type {
            padding: 5px 14px;
            background-color: var(--green-bg);
            border: 1px solid var(--green-border);
            color: var(--green);
            font-size: 13px;
            border-radius: 6px;
            font-weight: bold;
          }
          .head-txt {
            font-weight: bold;
            color: var(--pry-text);
            font-size: 20px;
          }
          .txt {
            font-size: 16px;
            color: var(--mutetd-tetx);
            word-spacing: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            margin-top: -4px;
            span {
              width: 2px;
              height: 2px;
              border-radius: 50%;
              background-color: var(--mutetd-tetx);
            }
          }
        }
        .right {
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            padding: 14px 30px;
            background-color: var(--pry-btn);
            color: var(--pry-btn-text);
            border-radius: 10px;
            border: none;
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            i {
              font-size: 10px;
            }
          }
        }
      }
      .down {
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: var(--border);
        border: 1px solid var(--hover-border);
        padding: 15px 20px;
        border-radius: 10px;
        .left {
          display: flex;
          flex-direction: column;
          gap: 6px;
          .t-txt {
            text-transform: uppercase;
            font-size: 13px;
            color: var(--mutetd-tetx);
          }
          .head-txt {
            font-size: 26px;
            font-weight: bold;
            color: var(--pry-text);
          }
          .txt {
            font-size: 15px;
            color: var(--mutetd-tetx);
            word-spacing: 2px;
          }
        }
      }
    }
    &.pro-plan {
      .pro-features {
        display: flex;
        flex-direction: column;
        background-color: var(--border);
        border: 1px solid var(--hover-border);
        padding: 15px 20px;
        border-radius: 10px;
        div {
          display: flex;
          justify-content: space-between;
          padding: 12px 0;
          border-bottom: 1px solid var(--hover-border);
          p {
            font-size: 15px;
            color: var(--mutetd-tetx);
            font-weight: bold;
          }
          span {
            color: var(--green);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            i {
              font-size: 10px;
            }
          }

          &:nth-child(4) {
            border: none;
          }
        }
      }
    }
    &.billing-history {
      .no-billing {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
        gap: 8px;
        padding: 40px 0;
        background-color: var(--border);
        border: 1px solid var(--hover-border);
        border-radius: 10px;
        font-size: 16px;
        color: var(--mutetd-tetx);
      }
    }
  }
}

@media (max-width: 767.99px) {
  .subsciption-content {
    gap: 15px;
    padding: 15px;
    .top-part {
      .head-txt {
        font-size: 18px;
      }
      .txt {
        font-size: 13px;
      }
    }
    .content {
      padding: 15px;
      background-color: transparent;
      gap: 15px;
      &.free-plan {
        .up {
          background-color: var(--cards);
          border: 1px solid var(--border);
          padding: 15px;
          flex-direction: column;
          justify-content: unset;
          align-items: unset;
          gap: 15px;
          .left {
            .plan-type {
              padding: 3px 14px;
              font-size: 11px;
              border-radius: 4px;
            }
            .head-txt {
              font-size: 18px;
            }
            .txt {
              font-size: 12px;
              white-space: nowrap;
            }
          }
          .right {
            display: flex;
            justify-content: center;
            align-items: center;
            button {
              flex: 1;
              padding: 10px 0;
              border-radius: 7px;
              font-size: 12px;
              i {
                font-size: 8px;
              }
            }
          }
        }
        .down {
          background-color: var(--cards);
          border: 1px solid var(--border);
          padding: 15px;
          .left {
            .t-txt {
              font-size: 12px;
            }
            .head-txt {
              font-size: 23px;
            }
            .txt {
              font-size: 13px;
            }
          }
        }
      }
      &.pro-plan {
        .pro-features {
          background-color: var(--cards);
          border: 1px solid var(--border);
          padding: 15px;
          div {
            padding: 12px 0;
            border-bottom: 1px solid var(--border);
            p {
              font-size: 14px;
            }
          }
        }
      }
      &.billing-history {
        .no-billing {
          padding: 30px 0;
          background-color: var(--cards);
          border: 1px solid var(--border);
          font-size: 12px;
          text-align: center;
        }
      }
    }
  }
}