.settings-page-main {
  display: flex;
  justify-content: left;
}
.settings-sidebar-content {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 35px 50px;
  overflow: auto;
  height: calc(100vh - 70px);
}
.verification-tab-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .verification-tab-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .top-part {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 2px;
      .head-txt {
        font-size: 20px;
        font-weight: bold;
        color: var(--pry-text);
      }
      .txt {
        font-size: 14px;
        color: var(--mutetd-tetx);
        word-spacing: 3px;
      }
    }
    .content {
      padding: 20px;
      padding-bottom: 0;
      background-color: var(--cards);
      border: 1px solid var(--border);
      border-radius: 20px;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 20px 0;
        border-bottom: 1px solid var(--border);
        .head-txt {
          font-weight: bold;
          font-size: 16px;
          color: var(--pry-text);
        }
        .txt {
          font-size: 14px;
          color: var(--mutetd-tetx);
        }
      }
      .verification-step {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 20px;
        padding: 0 0 20px 0;
        border-bottom: 1px solid var(--border);
        &:nth-child(5) {
          border: none;
        }
        .left {
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: var(--border);
            border: 1px solid var(--hover-border);
            background-color: var(--element-bg);
            color: var(--mutetd-tetx);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            &.completed {
              background-color: var(--green);
              color: var(--pry-text);
            }
            i {
              font-size: 10px;
            }
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          gap: 2px;
          .head-txt {
            font-weight: bold;
            font-size: 18px;
            color: var(--pry-text);
          }
          .txt {
            font-size: 15px;
            color: var(--mutetd-tetx);
            word-spacing: 3px;
          }
        }
      }
    }
  }
}