.settings-page-main {
  display: flex;
  justify-content: left;
}
.settings-sidebar-content {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 35px 50px;
  overflow: auto;
  height: calc(100vh - 70px);
}
.appearance-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .appearance-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .top-part {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 2px;
      .head-txt {
        font-size: 20px;
        font-weight: bold;
        color: var(--pry-text);
      }
      .txt {
        font-size: 14px;
        color: var(--mutetd-tetx);
        word-spacing: 3px;
      }
    }
    .content {
      padding: 20px;
      background-color: var(--cards);
      border: 1px solid var(--border);
      color: var(--pry-text);
      border-radius: 10px;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .up {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 30px;
        .dark,
        .light {
          flex: 1;
          height: 150px;
          border-radius: 20px;
          overflow: hidden;
          border: 1px solid var(--hover-border);
          display: flex;
          flex-direction: column;
          gap: 12px;
          cursor: pointer;
          &.active {
            border: 2px solid var(--accent-blue);
            .down {
              color: var(--accent-blue);
            }
          }
          .down {
            color: var(--secondary-text);
          }
          &.dark,
          &.light {
            &.dark {
              background-color: black;
              .up {
                .left {
                  span {
                    background-color: #0f1014;
                  }
                }
                .right {
                  .head {
                    background-color: #0f1014;
                  }
                  .body {
                    background-color: #0a0b0e;
                  }
                }
              }
              .down {
                background-color: #0f1014;
              }
            }
            &.light {
              background-color: white;
              .up {
                .left {
                  span {
                    background-color: #eeede9;
                  }
                }
                .right {
                  .head {
                    background-color: #eeede9;
                  }
                  .body {
                    background-color: #f0f0ed;
                  }
                }
              }
              .down {
                background-color: #eeede9;
              }
            }
            .up {
              flex: 1;
              display: flex;
              justify-content: left;
              align-items: stretch;
              padding: 12px;
              padding-bottom: 0;
              gap: 14px;
              .left {
                display: flex;
                justify-content: center;
                align-items: stretch;
                span {
                  width: 50px;
                  border-radius: 10px;
                }
              }
              .right {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: stretch;
                gap: 8px;
                .head {
                  height: 20px;
                  border-radius: 6px;
                }
                .body {
                  flex: 1;
                  border-radius: 6px;
                }
              }
            }
            .down {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 12px;
              padding: 10px 0;
            }
          }
        }
      }
      .action {
        display: flex;
        justify-content: left;
        align-items: center;
        button {
          padding: 14px 25px;
          border: none;
          background-color: var(--pry-btn);
          color: var(--pry-btn-text);
          font-size: 14px;
          font-weight: bold;
          border-radius: 12px;
          cursor: pointer;
        }
      }
    }
  }
}