.settings-page-main {
  display: flex;
  justify-content: left;
}
.settings-sidebar-content {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 35px 50px;
  overflow: auto;
  height: calc(100dvh - 70px);
}
.saved-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .saved-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .top-part {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 2px;
      .head-txt {
        font-size: 20px;
        font-weight: bold;
        color: var(--pry-text);
      }
      .txt {
        font-size: 14px;
        color: var(--mutetd-tetx);
        word-spacing: 3px;
      }
    }
  }
}