.chat-list-container {
  overflow: auto;
  width: 370px;
  height: 100dvh;
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  background-color: var(--sidebar-bg);
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border: 1px solid transparent;
    background-color: var(--mutetd-tetx);
    transition: background-color 0.3s ease;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-text);
  }
  .chat-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    .search-wrap {
      position: sticky;
      top: 0;
      background-color: var(--sidebar-bg);
      display: flex;
      flex-direction: column;
      padding: 12px 20px;
      padding-top: 22px;
      border-bottom: 1px solid var(--border);
      gap: 15px;
      z-index: 10;
      div {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        .txt-head {
          font-size: 28px;
          font-weight: bold;
          color: var(--secondary-text);
        }
        i {
          margin-left: auto;
          font-size: 18px;
          cursor: pointer;
          color: var(--secondary-text);
        }
        input {
          flex: 1;
          height: 35px;
          padding: 5px 12px;
          font-size: 14px;
          background-color: var(--cards);
          border: 1px solid var(--border);
          color: var(--secondary-text);
          border-radius: 10px;
          outline: none;
          &::placeholder {
            color: var(--mutetd-tetx);
          }
          &:focus {
            border: 1px solid var(--hover-border);
          }
        }
      }
    }
    .filter-container {
      padding: 7px 20px;
      height: 20px;
      border-bottom: 1px solid var(--border);
      background-color: var(--sidebar-bg);
      display: flex;
      justify-content: left;
      align-items: center;
      position: sticky;
      top: 129px;
      z-index: 9;
      div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 20px;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        margin-bottom: -2px;
        font-size: 14px;
        color: var(--mutetd-tetx);
        font-size: 14px;
      }
      .active-msg {
        border-color: var(--accent-blue);
        color: var(--accent-blue);
      }
    }
    .empty-state {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6px;
      height: 400px;
      i {
        font-size: 40px;
        color: var(--mutetd-tetx);
      }
      p {
        font-size: 15px;
        color: var(--secondary-text);
        text-align: center;
        padding: 0 18px;
      }
      button {
        margin-top: 5px;
        height: 40px;
        padding: 0 30px;
        background-color: var(--pry-btn);
        border: none;
        color: var(--pry-btn-text);
        font-size: 14px;
        border-radius: 30px;
        cursor: pointer;
        opacity: 0.9;
        transition: opacity 0.3s;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .chat-list-cover {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 15px 9px;
      gap: 10px;
      .chat-list-wrap {
        height: 60px;
        border-radius: 10px;
        display: flex;
        justify-content: left;
        gap: 6px;
        padding: 0 6px;
        cursor: pointer;
        transition: all 0.2s;
        .profile {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            padding: 2px;
            border: 1px solid var(--blue-border);
          }
          .team-profile {
            border-radius: 8px;
          }
          .active-badge {
            height: 9px;
            width: 9px;
            border-radius: 50%;
            background-color: var(--green);
            position: absolute;
            bottom: 6px;
            right: 2px;
            border: 3px solid var(--sidebar-bg);
            transition: all 0.2s;
          }
          &.team {
            .active-badge {
              height: 9px;
              width: 9px;
              border-radius: 50%;
              background-color: var(--green);
              position: absolute;
              bottom: 3px;
              right: -2px;
              border: 3px solid var(--sidebar-bg);
            }
          }
        }
        .sender-info {
          min-width: 245px;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: stretch;
          .name-wrap {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 2px;
            .name {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              width: unset;
              max-width: 150px;
              font-weight: bold;
              font-size: 16px;
              color: var(--secondary-text);
              transition: all 0.2s;
            }
            i {
              font-size: 13px;
              color: var(--accent-blue);
              margin-right: 10px;
              transition: all 0.2s;
            }
            span {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              margin-left: auto;
              font-size: 12px;
              color: var(--mutetd-tetx);
              transition: all 0.2s;
            }
          }
          .message {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--mutetd-tetx);
            font-size: 14px;
            transition: all 0.2s;
            span {
              color: var(--accent-blue);
              transition: all 0.2s;
            }
          }
        }
        .message-count,
        .message-read {
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            padding: 4px 8px;
            background-color: var(--accent-blue);
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--pry-text);
            border-radius: 20px;
            font-size: 14px;
            transition: all 0.2s;
          }
          i {
            color: var(--accent-blue);
            font-size: 16px;
            transition: all 0.2s;
          }
        }
        &:hover,
        &.active {
          background-color: var(--accent-blue);
          .profile {
            .active-badge {
              border: 3px solid var(--blue-border);
            }
            &.team {
              .active-badge {
                border: 3px solid var(--blue-border);
              }
            }
          }
          .sender-info {
            .name-wrap {
              .name {
                color: var(--blue-bg);
              }
              i {
                color: var(--blue-bg);
              }
              span {
                color: var(--blue-border);
              }
            }
            .message {
              color: var(--blue-border);
              span {
                color: white;
              }
            }
          }
          .message-count,
          .message-read {
            span {
              background-color: var(--blue-bg);
              color: var(--accent-blue);
            }
            i {
              color: var(--blue-bg);
            }
          }
        }
      }
    }
  } 
}

@media (max-width: 767.99px) {
  .chat-list-container {
    height: unset;
    flex: 1;
    width: unset;
    border: none;
    overflow: unset;
    .chat-list {
      .search-wrap {
        background-color: var(--bg);
        padding: 10px 15px;
        .message-head {
          display: none;
        }
        div {
          width: unset;
          input {
            height: 32px;
            padding: 5px 15px;
            font-size: 13px;
            border: 1px solid var(--border);
            background-color: var(--cards);
            color: var(--secondary-text);
            &::placeholder {
              color: var(--mutetd-tetx);
              font-size: 14px;
            }
            &:focus {
              border: 1px solid var(--hover-border);
            }
          }
        }
      }
      .filter-container {
        padding: 10px 15px;
        height: unset;
        top: 65px;
        z-index: 9;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
        div {
          height: unset;
          padding: 7px 18px;
          border: 1px solid var(--border);
          margin-bottom: 0;
          font-size: 12px;
          color: var(--mutetd-tetx);
          background-color: var(--cards);
          border-radius: 20px;
        }
        .active-msg {
          border-color: var(--blue-border);
          color: var(--accent-blue);
          background-color: var(--blue-bg);
        }
      }
      .chat-list-cover {
        padding: 0;
        gap: 0;
        .chat-list-wrap {
          width: unset;
          height: unset;
          border-radius: 0;
          padding: 15px;
          border-top: 1px solid var(--border);
          &:nth-child(1) {
            border: none;
          }
          .profile {
            img {
              width: 44px;
              height: 44px;
              border-radius: 50%;
              object-fit: cover;
              object-position: center;
            }
            .team-profile {
              border-radius: 6px;
            }
            .active-badge {
              height: 8px;
              width: 8px;
              border-radius: 50%;
              background-color: var(--active-badge-bg);
              position: absolute;
              bottom: 2px;
              right: 5px;
              border: 3px solid var(--sidebar-bg);
            }
            &.team {
              .active-badge {
                bottom: -1px;
                right: 3px;
              }
            }
          }
          .sender-info {
            align-items: stretch;
            .name-wrap {
              .name {
                max-width: 150px;
                font-size: 15px;
              }
              i {
                font-size: 12px;
              }
            }
            .message {
              font-size: 14px;
            }
          }
          .message-count {
            span {
              padding: 4px 8px;
              background-color: var(--accent-blue);
              color: white;
              font-size: 12px;
            }
          }
          &:hover,
          &.active {
            background-color: unset;
            .profile {
              .active-badge {
                border-color: var(--sidebar-bg);
              }
              &.team {
                .active-badge {
                  background-color: var(--green);
                  border-color: var(--sidebar-bg);
                }
              }
            }
            .sender-info {
              .name-wrap {
                .name {
                  color: var(--secondary-text);
                }
                i {
                  color: var(--accent-blue);
                }
                span {
                  color: var(--mutetd-tetx);
                }
              }
              .message {
                color: var(--mutetd-tetx);
                span {
                  color: var(--accent-blue);
                }
              }
            }
            .message-count,
            .message-read {
              span {
                background-color: var(--accent-blue);
                color: var(--pry-text);
              }
              i {
                color: var(--accent-blue);
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023.99px) {
  
}

@media (min-width: 1024px) {

}